/*

필요 없는 font weight 삭제

*/

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(./woff2-subset/Pretendard-Black.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Black.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(./woff2-subset/Pretendard-Bold.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(./woff2-subset/Pretendard-Medium.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(./woff2-subset/Pretendard-Regular.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(./woff2-subset/Pretendard-Light.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-ExtraLight.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(./woff2-subset/Pretendard-Thin.subset.woff2) format("woff2"),
    url(./woff-subset/Pretendard-Thin.subset.woff) format("woff");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: var(--color-text);
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  font-size: 16px;
  font-family: "Pretendard", sans-serif;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.TanStackRouterDevtools * {
  color: #fff;
}

:root {
  --color-primary: #6a75ca;
  --color-secondary: #505050;
  --color-background: #6a75ca;
  --color-danger: #fb2e2e;
  --color-warning: #ff8b45;
  --color-text: #333;
  --typo-headline: 3rem;
  --typo-title1: 2rem;
  --typo-title2: 1.5rem;
  --typo-title3: 1.125rem;
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 25px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 233 48% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 233 48% 60%;
    --primary-foreground: 233 48% 60%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sb-show-main {
  background-color: #eff2f8 !important;
}

#root {
  /* min-width: 1280px; */
  /* min-width: 1440px; */
  min-height: 720px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #ece0fd;
}

.fc .fc-button {
  background-color: white;
  color: white;
  border: 1px solid lightgray;
}

.fc .fc-button:hover {
  background-color: var(--color-background);
}

.fc .fc-button:focus {
  background-color: var(--color-background);
  outline: none;
}

.fc .fc-button:active {
  background-color: var(--color-background);
}
@media (max-width: 1440px) {
  body {
    /* zoom: 0.7; */
  }
}

::selection {
  background-color: #64c5b1;
  color: #FEFEFE;
}

::-moz-selection {
  background-color: #64c5b1;
  color: #FEFEFE;
}